.form {
  display: flex;
  flex-direction: column;
  max-width: 220px;
  justify-content: center;
  margin: 0 auto;
}
label {
  margin: 5px;
}
input {
  margin-left: 5px;
}
button {
  padding: 5px;
  min-width: 100px;
  max-width: 200px;
  margin: 0 auto;
}
.formContainer {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}
