.contactList {
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* align-items: center; */
  margin: 0px;
  max-width: 400px;
  padding: 0px;
  width: 90vw;
}
.loader {
  justify-content: center;
  align-items: center;
}
.container {
  display: flex;
}
.wrapper-class {
  justify-content: center;
  background: red;
}
